<a href="@Url.Action("GioHang","GioHang",new { strURL = Request.Url })" id="Cart" style="margin-right:30px; color:black;" >
    <img src="~/DULIEU/KhachHang/img/icon/shop_.svg" width="23" height="23" alt="">
    @ViewBag.TongSoLuong
</a>
